ProcessVlive/Web References/WS_GetMedia/GetMedia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLinkMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MSISDN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MediaType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MediaID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ChannelType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinkMediaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkMediaByCate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MSISDN" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="MediaType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CateID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MediaID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ChannelType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestTime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkMediaByCateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinkMediaByCateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLinkMediaSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkMedia" />
  </wsdl:message>
  <wsdl:message name="GetLinkMediaSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkMediaResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinkMediaByCateSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkMediaByCate" />
  </wsdl:message>
  <wsdl:message name="GetLinkMediaByCateSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkMediaByCateResponse" />
  </wsdl:message>
  <wsdl:portType name="GetMediaSoap">
    <wsdl:operation name="GetLinkMedia">
      <wsdl:input message="tns:GetLinkMediaSoapIn" />
      <wsdl:output message="tns:GetLinkMediaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinkMediaByCate">
      <wsdl:input message="tns:GetLinkMediaByCateSoapIn" />
      <wsdl:output message="tns:GetLinkMediaByCateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetMediaSoap" type="tns:GetMediaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLinkMedia">
      <soap:operation soapAction="http://tempuri.org/GetLinkMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkMediaByCate">
      <soap:operation soapAction="http://tempuri.org/GetLinkMediaByCate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetMediaSoap12" type="tns:GetMediaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLinkMedia">
      <soap12:operation soapAction="http://tempuri.org/GetLinkMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkMediaByCate">
      <soap12:operation soapAction="http://tempuri.org/GetLinkMediaByCate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetMedia">
    <wsdl:port name="GetMediaSoap" binding="tns:GetMediaSoap">
      <soap:address location="http://115.146.122.170:8688/GetMedia.asmx" />
    </wsdl:port>
    <wsdl:port name="GetMediaSoap12" binding="tns:GetMediaSoap12">
      <soap12:address location="http://115.146.122.170:8688/GetMedia.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>