RetryMO/Web References/WS_Game/Game.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceiveMO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="moid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="moseq" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="src" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cmdcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgbody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveMOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReceiveMOResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveMOSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveMO" />
  </wsdl:message>
  <wsdl:message name="ReceiveMOSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveMOResponse" />
  </wsdl:message>
  <wsdl:portType name="GameSoap">
    <wsdl:operation name="ReceiveMO">
      <wsdl:input message="tns:ReceiveMOSoapIn" />
      <wsdl:output message="tns:ReceiveMOSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GameSoap" type="tns:GameSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveMO">
      <soap:operation soapAction="http://tempuri.org/ReceiveMO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GameSoap12" type="tns:GameSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveMO">
      <soap12:operation soapAction="http://tempuri.org/ReceiveMO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Game">
    <wsdl:port name="GameSoap" binding="tns:GameSoap">
      <soap:address location="http://115.146.122.170:8691/Game.asmx" />
    </wsdl:port>
    <wsdl:port name="GameSoap12" binding="tns:GameSoap12">
      <soap12:address location="http://115.146.122.170:8691/Game.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>